.home-content {
  display: grid;
  margin-left: 2rem;
  /* text-align: left !important; */
  grid-gap: 20px;
  padding-top: 1rem;
  grid-template-areas: "first-hm";
}

.home-container {
  line-height: 1.4;
  text-align: center;
  /* margin-left: auto;
    margin-right: auto; */
}

/* Media Queries */

@media (max-width: 700px) {
  .home-content {
    grid-template-areas:
      "first-hm";
  }
}

@media (max-width: 500px) {
  .home-content  {
    grid-template-areas:
      "first-hm";
  }
}