@import 'main.scss';

.welcome-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  padding-top: 3rem;
  padding-bottom: 2rem;
  grid-template-areas: "first-wl second-wl third-wl fourt-wl";
}

.wl {
  width: 8rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  color: ivory;
  border-radius: 5px;
  background-color: $wl-background-color;
}

.wl:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: $wl-hover-background-color;
  border: 1px solid $wl-hover-border;
}

.first-wl {
  grid-area: first-wl;
}

.second-wl {
  grid-area: second-wl;
}

.third-wl {
  grid-area: third-wl;
}

.fourt-wl {
  grid-area: fourt-wl;
}

/* Media Queries */

@media (max-width: 700px) {
  .welcome-container  {
    grid-template-areas:
      "first-wl second-wl"
      "third-wl fourt-wl";
  }
}

@media (max-width: 500px) {
  .welcome-container  {
    grid-template-areas:
      "first-wl"
      "second-wl"
      "third-wl"
      "fourt-wl";
  }
}

.welcome-logo {
  height: 2rem;
  margin-bottom: -0.4rem;
}

  .welcome-logo:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
