.main-container {
  min-height: calc(100vh - 48px - 9px - 6vh);
  background-size: cover;
}

.tb-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  grid-template-areas: "first-tb second-tb third-tb fourt-tb";
}

.first-tb {
  grid-area: first-tb;
}

.second-tb {
  grid-area: second-tb;
}

.third-tb {
  grid-area: third-tb;
}

.fourt-tb {
  grid-area: fourt-tb;
}

/* Media Queries */

@media (max-width: 700px) {
  .tb-container  {
    grid-template-areas:
      "first-tb second-tb third-tb fourt-tb";
  }
}

@media (max-width: 500px) {
  .tb-container  {
    grid-template-areas:
      "first-tb"
      "second-tb"
      "third-tb"
      "fourt-tb";
  }
}

.title {
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #9013fe;
  font-size: 20px;
}

.padding {
  padding-top: 2rem;
}

.content {
  text-align: center;
  line-height: 1.8;
}

  ::selection {
    background: #af59be;
    color: #fefefe;
  }

.main-table-style {
  table-layout: fixed;
  width: 99% !important;
  margin-left: 0.5%;
  margin-right: 0.5%;
  background-color: #b57ef2 !important;
  opacity: 0.5;
  color: ivory !important;
  opacity: 0.9;
  border: 1px solid #7F797B;
}

.btn-primary {
  background-color: #9013fe !important;
  border: 1px solid #6635a6 !important;
}

  .btn-primary:hover {
    background-color: #af59be !important;
    border: 1px solid #9013fe !important;
    transform: scale(1.1);
  }

  .btn-secondary:hover {
    transform: scale(1.1) !important;
  }

.modal-main {
  background-color: #e2d3f3 !important;
}

.modal-content {
  border: 1px solid #7F797B !important;
}

.modal-form {
  background-color: #e2d3f3 !important;
}

.modal-header {
  background-color: #e2d3f3 !important;
}

.modal-body {
  background-color: #e2d3f3 !important;
}

.modal-footer {
  background-color: #e2d3f3 !important;
}

.simple-input {
  margin-right: 10px;
  padding-bottom: 5px;
  margin-bottom: 16px;
}

.btn-tb {
  margin-bottom: 16px; 
}

.label-tb {
  margin-bottom: 8px; 
}

.multiselect-tb {
  margin-bottom: 1rem;
}

.multiselect__tag {
  background: #b57ef2 !important;;
}

/* TODO: change .navbar-toggler-icon not working */
.navbar-toggler-icon { 
  background-color:#9013fe !important;
}