  ::selection {
    background: #af59be;
    color: #fefefe;
  }

.btn-primary {
  background-color: #832DF4 !important;
  border: 1px solid #6635a6 !important;
}

  .btn-primary:hover {
    background-color: #af59be !important;
    border: 1px solid #832DF4 !important;
    transform: scale(1.1);
  }

  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(131, 45, 244, 45%) !important;
  }

.multiselect__tag {
  background: #b57ef2 !important;;
}

.multiselect__tag-icon:hover {
  background-color: #832DF4 !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #AC82EB;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #AC82EB;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #AC82EB;
}

.multiselect__placeholder {
  color: #AC82EB !important;
}

  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    /* color: #832DF4 !important; */
    font-weight: bold !important;
  }

  .transaction-lbl-url {
    font-size: 12px;
    margin-top:-0.1rem;
  }
   .transaction-url {
     font-size: 11px;
   }
