.nf{
    text-align: center;
  }
  
  .not-found {
    text-align: center;
    color: #9013fe;
    text-shadow: 2px 2px #7F797B;
    font-size: 200px;
    padding-top: 0.vh;
  }
  
  .not-found-text {
    font-size: 30px;
    font-weight: bold;
    color: #b57ef2;
    text-shadow: 2px 2px #051632;
    padding-top: 10vh;
  }