.sign-in {
  width: 8rem;
  height: 4rem;
  line-height: 4rem;
  border: 1px solid #9013fe;
  text-align: center;
  color: ivory;
  margin-top: 5vh;
  border-radius: 5px;
  background-color: #b57ef2;
}

  .sign-in:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #9013fe;
  }

.welcome-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50vh;
  grid-gap: 5rem !important;
}

.welcome-logo {
  height: 2rem;
}

  .welcome-logo:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
