.sign-in {
  width: 8rem;
  height: 5rem;
  line-height: 5rem;
  border: 1px solid #9013fe;
  text-align: center;
  color: #9013fe;
  margin-top: 5vh;
}

  .sign-in:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
